#content { max-width: 50em; margin: auto; }
.org-center { margin-left: auto; margin-right: auto; text-align: center; }
.title  { text-align: center;
         margin-bottom: .2em; }

body{
	font-family: 'Cutive Mono';
	background-color:rgba(0,0,0,1.00);
	color:rgba(255,255,255,1.00);
    cursor: none;
    overflow:hidden;

}

body * {
    z-index: 20;
    color: rgba(0,0,0,1.00);
}
.text-container {
    position: relative;
  width: 80%;
    top: 50px;
  float: right;
}

#light {
    position: absolute;
    top:-1000px;
    left:-1000px;
    width: 550px;
    height: 550px;
    background-color: #ffc65c;
    z-index: 10;
    -webkit-box-shadow: inset 0px 0px 150px 166px rgba(0, 0, 0, 1);
    -moz-box-shadow: inset 0px 0px 150px 166px rgba(0,0,0,1);
    box-shadow: inset 0px 0px 150px 166px rgba(0, 0, 0, 1);
}
